_deployment/template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "flow_name": {
            "defaultValue": "VSTS",
            "type": "string"
        },
        "flow_recurrence_frequency": {
            "defaultValue": "Day",
            "type": "string"
        },
        "flow_recurrence_start": {
            "defaultValue": "2017-03-04T00:00:00",
            "type": "string"
        },
        "flow_recurrence_interval": {
            "defaultValue": 7,
            "type": "int"
        },
        "webApp_url": {
            "defaultValue": "https://abc.azurewebsites.net",
            "type": "string"
        },
        "mail_to": {
            "type": "string"
        },
        "mail_subject": {
            "defaultValue": "VSTS Activity Report",
            "type": "string"
        },
        "mail_template": {
            "defaultValue": "<html> <head> <meta name=\"ProgId\" content=\"Word.Document\"> <style> h1, h2, h3, h4, h5, h6 { font-weight: 300; } body{     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     margin:0; } table{     border: 1px solid gray;     border-collapse: collapse;   } th{     border: 0px solid white;     background:#0072c6;     width:250px;     padding:5px 0 5px 0;     color:white; } td{     border: 1px solid gray;     padding:5px 0 5px 0;     color:black;     text-align: center; }  tr:nth-child(even) {background-color: #f2f2f2} </style> </head> <body> <img src=\"https://abc.blob.core.windows.net/templates/vststracking.png?st=2017-03-09T14%3A07%3A00Z&se=2030-03-10T14%3A07%3A00Z&sp=r&sv=2015-12-11&sr=b&sig=yYVDasc4ao6hPdvW3Flk2twaX4ruOj%2B7qN8621a%2F%2BrQ%3D\"> <h2>Team Activities over the last 7 days</h2> <table> <tr> <th>ID</th><th>Partner</th> <th>Title</th> <th>Created By</th> <th>Type</th> <th>Created At</th> <th>Start Date</th> <th>Duration</th> <th>Tags</th> </tr> @foreach(var item in @Model) { <tr> <td> <a href=\"@string.Format(\"https://abc.visualstudio.com/web/wi.aspx?pcguid=ec42a2dc-6c2c-4911-a931-78a9aa3cb766&id={0}\", item[\"id\"])\">@item.id</a> </td> <td>@item[\"TEDCOMEX.PARTNERNAME\"]</td><td>@item[\"System.Title\"]</td> <td>@VSTSWebApi.Controllers.RazorHelpers.GetShortUser(item[\"System.CreatedBy\"])</td><td>@item[\"TEDCOM.ACTIVITYTYPE\"]</td> <td>@VSTSWebApi.Controllers.RazorHelpers.GetShortDateString(item[\"System.CreatedDate\"])</td> <td>@VSTSWebApi.Controllers.RazorHelpers.GetShortDateString(item[\"TEDCOM.ACTIVITYSTART\"])</td> <td>@item[\"TEDCOM.ACTIVITYDURATIONINDAYSFLOAT\"]</td> <td>@item[\"System.Tags\"]</td> </tr> } </table> </body> </html>",
            "type": "string"
        },
        "vsts_user": {
            "type": "string"
        },
        "vsts_key": {
            "type": "string"
        },
        "vsts_query": {
            "defaultValue": "My Queries/My Team/Team Activities for last 7",
            "type": "string"
        }
    },
    "variables": {
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "name": "office365",
            "apiVersion": "2015-08-01-preview",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "SendMail",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/',resourceGroup().location, '/managedApis/office365')]",
                    "name": "office365",
                    "location": "[resourceGroup().location]",
                    "type": "Microsoft.Web/locations/managedApis"
                }
            }
        },
        {
            "comments": "The logic app that coordinates everything.",
            "type": "Microsoft.Logic/workflows",
            "name": "[parameters('flow_name')]",
            "apiVersion": "2016-06-01",
            "location": "[resourceGroup().location]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "[parameters('flow_recurrence_frequency')]",
                                "interval": "[parameters('flow_recurrence_interval')]",
                                "startTime": "[parameters('flow_recurrence_start')]",
                                "timeZone": "Pacific Standard Time"
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "ApiTemplateFormatterPost": {
                            "runAfter": {
                                "ExecuteWitQuery": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "apiDefinitionUrl": "[concat(parameters('webApp_url'), '/swagger/v1/swagger.json')]",
                                "swaggerSource": "custom"
                            },
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "model": "@body('ExecuteWitQuery')",
                                    "template": "[parameters('mail_template')]"
                                },
                                "method": "post",
                                "uri": "[concat(parameters('webApp_url'), '/api/TemplateFormatter')]"
                            }
                        },
                        "ExecuteWitQuery": {
                            "runAfter": {},
                            "metadata": {
                                "apiDefinitionUrl": "[concat(parameters('webApp_url'), '/swagger/v1/swagger.json')]",
                                "swaggerSource": "custom"
                            },
                            "type": "Http",
                            "inputs": {
								"authentication": {
									"password": "[parameters('vsts_key')]",
									"type": "Basic",
									"username": "[parameters('vsts_user')]"
								},
                                "method": "post",
								"body": "[parameters('vsts_query')]",
								"queries": {
									"enrichPartnerField": true
								},
                                "uri": "[concat(parameters('webApp_url'), '/api/VstsWitQuery')]"
                            }
                        },
                        "Send_an_email": {
                            "runAfter": {
                                "ApiTemplateFormatterPost": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "@body('ApiTemplateFormatterPost')",
                                    "IsHtml": true,
                                    "Subject": "[parameters('mail_subject')]",
                                    "To": "[parameters('mail_to')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Mail"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                          "office365": {
                            "connectionId": "[resourceId('Microsoft.Web/connections','office365')]",
                            "connectionName": "office365",
                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/',resourceGroup().location, '/managedApis/office365')]"
                          }
                        }
                    }
                }
            },
            "resources": [],
            "dependsOn": [
                "Microsoft.Web/connections/office365"
            ]
        }
    ]
}